.js-reveal {
    opacity: 1;
    transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
    opacity: 0;
    margin-top: 3em;
}

#mobileNum a {
    color: #000;
    text-decoration: none;
}
