*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spdTxt{
    font-family: 'unbounded';
    font-size: 20px;
    margin: 0 4%;
    margin-bottom: 70px;
}


.tableDiv{
    margin: 0 4%;
}

table.spdTable{
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}
.reraTxt{
    font-family: 'open sans';
    font-weight: 600;
    font-size: 18px;
}

.spdTableImgNew img {
    width: 100%;
    border-radius: 10%;
}

table.spdTable,
table.spdTable tr th,
table.spdTable tr td{
    font-family: 'open sans';
    text-align: left;
}

table.spdTable tr th,
table.spdTable tr td{
    padding: 40px 30px;
    background: #EAECE3;
    border: 1px solid #B0B59E;
}

table.spdTable thead tr th:first-child{
    border-top-left-radius: 50px;
}
table.spdTable thead tr th:last-child{
    border-top-right-radius: 50px;
}
table.spdTable tbody tr:last-child td:last-child{
    border-bottom-right-radius: 50px;
}
table.spdTable tbody tr:last-child td:first-child{
    border-bottom-left-radius: 50px;
}

@media screen and (max-width:920px){
    table.spdTable tr th, table.spdTable tr td{
        padding: 13px;
    }

    table.spdTable thead tr th:first-child{
        border-top-left-radius: 30px;
    }
    table.spdTable thead tr th:last-child{
        border-top-right-radius: 30px;
    }
    table.spdTable tbody tr:last-child td:first-child{
        border-bottom-left-radius: 30px;
    }
    table.spdTable tbody tr:last-child td:last-child{
        border-bottom-right-radius: 30px;
    }
    .spdTxt{
        margin-bottom: 30px;
    }

    .textContenWarpper{
        margin-bottom: 30px !important;
    }

    .spdTableImg{
        background-size: 348px;
    }

    .spdTableImg{
        height: 186px;
    }
    .tableDiv{
        border-radius: 30px !important;
    }

    .spdTableImgNew img {
        border-radius: 15%;
    }
}